Repository girok-web/girok-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: ToggleChip 컴포넌트 구현
  src/features/event-form/components/ToggleChip.tsx
Due: eslint --fix

design: disabled 스타일 수정
  src/features/event-form/components/ToggleChip.tsx
Due: eslint --fix

feat: Flex 스타일 컴포넌트 선언에 태그된 리터럴 방식 적용 및 gap 속성 추가
  src/components/Flex.tsx
Due: eslint --fix

chore: rename component
  src/features/sidebar-card/SidebarCards.tsx
  src/pages/MainPage.tsx
Due: eslint --fix

chore: default value 제거
  src/features/sidebar-card/components/Card.tsx
Due: eslint --fix

chore: AddContentButton 제거
  src/features/sidebar-card/components/Card.tsx
Due: eslint --fix

refactor: tagged union을 활용한 타입 정의
  src/features/event-form/components/ToggleChip.tsx
Due: eslint --fix

refactor: Icon 컴포넌트 활용
  src/features/event-form/components/ToggleChip.tsx
Due: eslint --fix

feat: TimePicker 컴포넌트 구현
  src/features/event-form/components/TimePicker.tsx
Due: eslint --fix

refactor: convertHourToMinute 유틸함수 분리
  src/features/event-form/components/TimePicker.tsx
  src/features/event-form/utils/convertTime.ts
Due: eslint --fix

feat(Cards): Flex 컴포넌트로 대체
  src/features/sidebar-card/SidebarCards.tsx
Due: eslint --fix

chore: Flex의 gap number 타입으로 수정
  src/components/Flex.tsx
Due: eslint --fix

design: Sidebar Card 내부 스크롤 적용
  src/features/sidebar-card/SidebarCards.tsx
  src/features/sidebar-card/components/Header.tsx
Due: eslint --fix

이벤트 폼의 토글칩 구현 (#55)
  src/components/Icon/SvgComponents.tsx
  src/features/event-form/components/ToggleChip.tsx
Due: eslint --fix

refactor: 시침 시간을 분침 시간으로 변경해주는 함수 및 매개변수 이름 변경
  src/features/event-form/components/TimePicker.tsx
  src/features/event-form/utils/convertTime.ts
Due: eslint --fix

좌측 Sidebar의 UI를 구현한다 (#53)
  src/components/Checkbox.tsx
  src/components/Flex.tsx
  src/components/Icon/SvgComponents.tsx
  src/components/Text.tsx
  src/features/sidebar-card/SidebarCards.tsx
  src/features/sidebar-card/components/Card.tsx
  src/features/sidebar-card/components/CategoryCard.tsx
  src/features/sidebar-card/components/Header.tsx
  src/features/sidebar-card/components/TodayEventsCard.tsx
  src/features/sidebar-card/components/TodoListCard.tsx
  src/pages/MainPage.tsx
  src/styles/colorPalette.ts
  src/styles/typography.ts
Due: eslint --fix

deploy: 63859a369539064069a6353baba1b90f9d3296ee
  assets/index-Y4LU1jgO.js
  assets/index-YgTscfhv.js
  index.html
Due: eslint --fix, prettier --write

feat: 변경된 typography 적용
  src/styles/typography.ts
Due: eslint --fix

refactor: typography 사용처에서 바뀐 문법 적용
  src/components/Checkbox.tsx
  src/components/Text.tsx
  src/features/auth/SignForm.tsx
  src/features/auth/login/components/MoveToReset.tsx
  src/features/sidebar-card/components/Card.tsx
  src/features/sidebar-card/components/CategoryCard.tsx
  src/features/sidebar-card/components/Header.tsx
  src/features/sidebar-card/components/TodayEventsCard.tsx
  src/hooks/use-toast/Toast.tsx
  src/pages/MainPage.tsx
Due: eslint --fix

chore: stylelint 설치
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: stylelint 적용
  .stylelintrc.json
  src/components/Checkbox.tsx
  src/features/auth/AuthLayout.tsx
  src/features/auth/SignForm.tsx
  src/features/sidebar-card/SidebarCards.tsx
  src/features/sidebar-card/components/Card.tsx
  src/features/sidebar-card/components/CategoryCard.tsx
  src/features/sidebar-card/components/Header.tsx
  src/hooks/use-toast/Toast.tsx
  src/styles/globalStyles.ts
Due: eslint --fix, prettier --write

design: background-color를 AuthLayout으로 이동
  src/features/auth/AuthLayout.tsx
  src/styles/globalStyles.ts
Due: eslint --fix

chore: lint-staged 설정에 stylelint 추가
  .lintstagedrc.json
Due: prettier --write

chore: stylelint-config-rational-order를 활용하여 스타일 순서 적용
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 스타일 순서 적용 및 no-empty-source 룰 삭제
  .stylelintrc.json
  src/styles/globalStyles.ts
Due: eslint --fix, prettier --write

변경된 타이포그래피 및 스타일린트 적용 (#60)
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/components/Checkbox.tsx
  src/components/Text.tsx
  src/features/auth/AuthLayout.tsx
  src/features/auth/SignForm.tsx
  src/features/auth/login/components/MoveToReset.tsx
  src/features/sidebar-card/SidebarCards.tsx
  src/features/sidebar-card/components/Card.tsx
  src/features/sidebar-card/components/CategoryCard.tsx
  src/features/sidebar-card/components/Header.tsx
  src/features/sidebar-card/components/TodayEventsCard.tsx
  src/hooks/use-toast/Toast.tsx
  src/pages/MainPage.tsx
  src/styles/globalStyles.ts
  src/styles/typography.ts
Due: eslint --fix, prettier --write

feat: lint 명령어에 tsc를 추가하여 타입에러 검사
  package.json
Due: prettier --write

fix: typography 수정
  src/features/auth/reset/components/ResetVerification.tsx
  src/features/auth/signup/components/SignupVerification.tsx
Due: eslint --fix

타이포그래피 에러 수정 (#61)
  package.json
  src/features/auth/reset/components/ResetVerification.tsx
  src/features/auth/signup/components/SignupVerification.tsx
Due: eslint --fix, prettier --write

deploy: d43ee56e934ddd71dfae0ccac6283dff69a63d9c
  assets/index-Y4LU1jgO.js
  assets/index-bCuO5tHq.js
  index.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx,ts,jsx,js}
  prettier --write: any of: *.{css,html,json}
